In [2]:
import pandas as pd
# Рейтинги
data = pd.read_table ('ratings.dat', sep='\::', engine='python', names=['UserID','MovieID','Rating','Timestamp'])
# Фильмы
data0 = pd.read_table ('movies.dat', sep='\::', engine='python', names=['MovieID','Title','Genres'])
#data0.head(5)
data_merge = data.merge(data0, on = "MovieID")
#data_merge.head(5)

data_merge[data_merge['Rating']==5.0].groupby(['Title'])['MovieID'].value_counts().sort_values(ascending=False).head(1)

Title                   MovieID
American Beauty (1999)  2858       1963
Name: MovieID, dtype: int64

In [1]:
import pandas as pd
data = pd.read_csv ('power.csv', delimiter=',')
pribaltika = data[(data['country']=='Estonia') | (data['country']=='Lithuania') | (data['country']=='Latvia') ]
#pribaltika.head(10)
result = pribaltika[(pribaltika['category']==4) | (pribaltika['category']==12) | 
                      (pribaltika['category']==21) & (pribaltika['year'] < 2010) & (pribaltika['year'] > 2005)
                   & (pribaltika['quantity'] > 0)]
print('Суммарное потребление:', result['quantity'].sum())

Суммарное потребление: 165867.0

In [15]:
import pandas as pd
data = pd.read_html('https://soccer365.ru/competitions/24/', encoding='utf-8')[0]
data.head()

   Unnamed: 0   Группа A  И  В  Н  П  З  П.1  +/-  О
0           1     Италия  3  3  0  0  7    0    7  9
1           2      Уэльс  3  1  1  1  3    2    1  4
2           3  Швейцария  3  1  1  1  4    5   -1  4
3           4     Турция  3  0  0  3  1    8   -7  0